
  
  .sprint-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .sprint-title {
    color: black;
  }
  .tasks-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .task-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .custom-update-button {
    background-color: purple; /* Set your desired background color */
    /* Add any other styling properties as needed */
  }
  
  